html(lang="en")
  head
    title= "Travel Call Center"
  body
    | <div style="padding-top:100px;text-align:center;" class="">
    | <img src="/resources/custom/images/mmlogo.png" width="750" height="90">
    | <h3 style="text-align:center;">The browser you are using is not supported.
    | <p>Safari, Chrome, Firefox and Internet Explorer version 9 or above is supported.</p>
    | </h3>
    | </div>
