extends layout
block append head
    link(href='http://fonts.googleapis.com/css?family=Questrial|Julius+Sans+One', rel='stylesheet', type='text/css')
    link(href='#{cdnLocation}/resources/custom/css/app.css', media="screen", rel="stylesheet", type="text/css")
    link(href='#{cdnLocation}/resources/custom/css/bubble.css', media="screen", rel="stylesheet", type="text/css")
    script(src='web/locale/locale_en.js')
    link(href='lib/ux/ClearButton/css/ClearButton.css', media="screen", rel="stylesheet", type="text/css")
    script(src='lib/ux/ClearButton/ClearButton.js')

    link(href='lib/ux/Rating/Rating.css', media="screen", rel="stylesheet", type="text/css")
    script(src='lib/ux/Rating/Rating.js')

    script(src='web/mixins/authentication.js')
    script(src='web/mixins/error.js')
    script(src='web/mixins/help.js')

    script(src='web/models/User.js')
    script(src='web/models/Call.js')
    script(src='web/models/CallType.js')
    script(src='web/models/Client.js')

    script(src='web/viewmodels/main.js')
    script(src='web/viewmodels/landing.js')
    script(src='web/viewmodels/dataManagement.js')
    script(src='web/viewmodels/call/callSet.js')
    script(src='web/viewmodels/call/call.js')
    script(src='web/viewmodels/call/callTypeSet.js')
    script(src='web/viewmodels/client/clientSet.js')
    script(src='web/viewmodels/user/userSet.js')
    script(src='web/viewmodels/user/user.js')
    script(src='web/viewmodels/user/accountSettings.js')
    script(src='web/viewmodels/user/contactMe.js')
    script(src='web/viewmodels/user/contactMeDialog.js')
    script(src='web/viewmodels/user/signUp.js')

    script(src='web/views/main.js')
    script(src='web/views/landing.js')
    script(src='web/views/dataManagement.js')
    script(src='web/views/user/userSet.js')
    script(src='web/views/user/user.js')
    script(src='web/views/user/accountSettings.js')
    script(src='web/views/user/contactMe.js')
    script(src='web/views/user/contactMeDialog.js')
    script(src='web/views/user/signUp.js')
    script(src='web/views/call/callSet.js')
    script(src='web/views/call/call.js')
    script(src='web/views/call/callSummary.js')
    script(src='web/views/call/callTypeSet.js')
    script(src='web/views/client/clientSet.js')

    script(src='#{cdnLocation}/lib/glu/glu-test.js')
    script(src='web/spec/backend.js')